<H2>Welcome to Justins Stock Tracker Web Application!</H2>

<div class="container">
	<div class="well">
		<ul class="list-group">
		<h4> Type in the Stock Ticker you would like to Track! Here are some examples:</h4>
  <li class="list-group-item"><strong>Facebook</strong> | Stock Ticker = <strong>FB</strong></li>
  <li class="list-group-item"><strong>Google</strong> | Stock Ticker = <strong>GOOG</strong></li>
  <li class="list-group-item"><strong>Apple Inc</strong> | Stock Ticker = <strong>APPL</strong></li>
</ul>
</div>
<%= render 'stocks/lookup' %>
</div>