<div class="page-wrapper">
	<div class="well">
<h1>Justins stock tracker app!</h1>
<h4>Christmas is only 5 Fridays away. Hot Chocolate time!</h4>
<%= link_to "logout", destroy_user_session_path, method: :delete %> ||
<%= link_to "Search Stocks", my_portfolio_path %>

 </div>
</div>